node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
.env.*.local
README.md
.DS_Store
coverage
.vscode
.idea
*.swp
*.swo
*~
.next
.netlify
.vercel
.cache
.nuxt
build
.parcel-cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.env.production.local
.env.development.local
.env.test.local
.vuepress/dist
dist
